.page {
	&__inner {
	}
	&__title {
		color: var(--text-color-dark);
		margin: 0 0 32px;
	}
}

.category {
	margin-bottom: 48px;
	&__list {
	}
	&__list-item {
		&:not(:last-child) {
			margin-right: 33px;
		}
	}
}

.restaurants {
	&__list {
		--col: 3;
		--gutter: 33;
	}

	&__list-item {
		width: 100%;
		max-width: calc(
			(100% - ((var(--col) - 1) * (var(--gutter) * 1px))) / var(--col)
		);
		margin-bottom: 42px;
	}
}
