<div class="page-404 p-d-flex p-ai-center p-jc-center p-text-center h-100">
	<div class="page-404__content p-m-auto p-py-5 p-px-3">
		<div class="logo">
			<img
				src="/assets/images/logo.svg"
				alt="assapp logo"
				width="134"
				height="37"
				class="p-d-block p-mx-auto p-w-100"
			/>
		</div>
		<div class="image-404">
			<img
				src="/assets/images/svgs/404.svg"
				alt="404"
				width="420"
				height="162"
				class="p-d-block p-mx-auto p-w-100"
			/>
		</div>
		<div class="content">
			<h4>Page not found</h4>
			<p>Page you are looking for doesn’t exist.</p>
			<app-button [routerLink]="url" expand="block" class="p-d-block p-mx-auto"
				>Go back to home</app-button
			>
		</div>
	</div>
</div>
