.order-card {
	position: relative;
	box-shadow: 0px 32px 96px -8px rgba(0, 0, 0, 0.06);
	border-radius: 20px;
	background: var(--white-color);
	padding: 32px;
	text-align: center;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;

	&__close {
		--sz: 28px;
		width: var(--sz);
		height: var(--sz);
		background: none;
		border-radius: 50%;
		border: 0;
		position: absolute;
		top: 12px;
		right: 12px;

		&:hover {
			cursor: pointer;
		}

		--icon-color: var(--black-color);
		--icon-width: 12px;
		--icon-height: var(--icon-width);
	}
	&__text-content {
		margin: 24px 0 32px;
	}
	&__cta {
		width: 100%;
		position: relative;
		::ng-deep {
			button {
				padding: 12px 32px;
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
			}
		}
		.icon-arror-right {
			--icon-width: 16px;
			--icon-height: var(--icon-width);
			position: absolute;
			top: 50%;
			right: 12px;
			transform: translateY(-50%);
		}
	}
	&__icon {
		--sz: 64px;
		width: var(--sz);
		height: var(--sz);
		background: rgba(var(--secondary-color-rgb), 0.1);
		border-radius: 12px;
		margin: 0 auto;

		--icon-color: var(--secondary-color);
		--icon-width: 32px;
		--icon-height: var(--icon-width);
	}
	&__text {
		margin: 0;
		font-size: 12px;
		line-height: 18px;
		color: var(--text-color);
	}
	&__title {
		line-height: 24px;
		color: var(--text-color-dark);
		margin: 0 0 32px;
	}
}
